
<div class="flex flex-col justify-center items-center mt-20">

    
    <div>
        <img src="/FrameE2.png" class="w-[53px] h-[54px]">
    </div>

    <div class="text-[24.45px] text-[#2A343A] font-bold">
        Enter your email
    </div>

    <small class="text-[#7C7C7C]">
        Enter your email address to receive the OTP.
    </small>


    <div>
<form #form="ngForm"  (ngSubmit)="onSubmit(form)">  
    <div class="mt-">
    <label for="email" class="mt-3 block text-[15px]">Email</label>
    <input
     id="email"
      type="email"
      name="email"
      
      
      required
      placeholder="Example@email.com"
      class="text-[#7C7C7C] border-2 border-[#D7D7D7] bg-[#F2F2F2] w-[350px] lg:w-[612px] h-[55px] rounded-[10px] mt-1 px-5"
    />
    <!-- <div *ngIf="emailField.errors?.['required'] && emailField.touched" class="text-red-500">
        password is required.
      </div>

    
      <div *ngIf="emailField.errors?.['email'] && !emailField.errors?.['required'] && emailField.touched">
        Enter a valid password.
      </div> -->
    </div> 
  
    <button
      type="submit"
      class="font-semibold font-outfit bg-[linear-gradient(to_right,_#5FA3FF,_#4393FF)] text-white y text-[16px] px-4 h-[55px] rounded-[10px] mt-6 w-full"
    >
    Login
    </button>


      <!-- <p (click)="otp()" class="mt-10 bg-red-500 w-20 text-center text-white  cursor-pointer place-self-center">otp</p> -->
  
    <!-- <ng-container *ngIf="isLoading();">
      <div *ngIf="isLoading" class="mt-6 relative top-4" ngClass="flex justify-center">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </ng-container> -->
  
  </form>
</div>
</div>


 



<!-- 

<div class="container overflow-auto">

     <div class="flex justify-between mx-2 md:mx-5 lg:mx-10 mt-10">

  Go Back
  <button (click)="goBack()"
   class="text-sm bg-gray-100 py-1 px-4 rounded-[6px]">
    Go Back
  </button>
  

  Edit button
  <button
    *ngIf="!isEditOpen"
    (click)="openEdit()"
    class="bg-gray-200 py-1 px-5 rounded-[6px] relative md:left-[4rem] lg:left-0"
  >
    Edit
  </button>

  Step controls
  <div *ngIf="isEditOpen" class="flex gap-2">
    <button
      (click)="cancelEdit()"
      class="text-white border rounded-[10px] bg-gray-500 py-1 px-4"
    >
      Cancel
    </button>

    Next button (not last step)
    <button
      *ngIf="currentStep < totalSteps"
      (click)="nextStep()"
      class="text-white border rounded-[10px] bg-blue-600 py-1 px-4"
    >
      Next
    </button>

    Save button (last step only)
    <button
      *ngIf="currentStep === totalSteps"
      (click)="save()"
      class="text-white border rounded-[10px] bg-green-700 py-1 px-4"
    >
      Save
    </button>
  </div>
  </div>



Links and forms container
<div class="mainContainer flex mt-10 md:mx-5 lg:mx-10 cursor-pointer">

    <div class="flex flex-col h-full mt-6 w-[11rem] space-y-4">
        <a (click)="setStep(1)">Personal Information</a>
        <a (click)="setStep(2)">Employement Details</a>
        <a (click)="setStep(3)">Farmily Details</a>
        <a (click)="setStep(4)">Next Of Kins</a>
        <a (click)="setStep(5)">Emergency Contact</a>
        <a (click)="setStep(6)">Education Details</a>
    </div>


    <div class="container ">

        Personal information details Step 1
        <div *ngIf="currentStep === 1" class="">
            Details
             <div class="flex">
            <div class="bg-gray-300 mx-10 mb-16 rounded-full w-[6rem] py-[2.2rem] text-center">
                person
            </div>
            <div>
                <p>{{selectedEmployee.firstName}} {{selectedEmployee.lastName}}</p>
                <p class="text-[11px] px-1 text-green-700 bg-gray-100 font-bold">{{selectedEmployee.unit.name}}</p>
            </div>
        </div>

        form
    <form #form="ngForm" class="mb-10 grid md:grid-cols-2 lg:grid-cols-3 md:gap-x-20 lg:gap-x-5 gap-y-10">
        <input
        type="text"
        name="firstName"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.firstName"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >

          <input
        type="text"
        name="lastName"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.lastName"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >

           <input
        type="text"
        name="otherName"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.otherName"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >

        <input
        type="text"
        name="dender"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.gender"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >

        <input
        type="text"
        name="dob"
        [disabled]="!isEditOpen"
         [value]="selectedEmployee.dateOfBirth | date:'MM/dd/yyyy'"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >


            <input
        type="text"
        name="otherName"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.nationality"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >

             <input
        type="text"
        name="maritalStatus"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.maritalStatus"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >

        <input
        type="text"
        name="phoneNumber"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.phoneNumber"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >

        <input
        type="text"
        name="email"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.email"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >
    </form>
    </div>


    Employement details Step 2
    <div class="mx-10 mt-6">
     <div *ngIf="currentStep === 2">
    Details
     <div class="mx-10">
         <p class="">Employment Details</p>
         <p class="text-[10px]">Official job Information</p>   
     </div>

        form
    <form #form="ngForm" class="lg:mx-10 mb-10 grid md:grid-cols-2 lg:grid-cols-3 md:gap-x-[12rem] gap-y-10 mt-10">
        <div>
        <label class="mx- 10">Job Title</label>
        <input
        type="text"
        name="jobTitle"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.jobTitle"
        class="border-2 mx- 10 px-3 py-1 md:w-[17rem]"
        >
        </div>

        <div>
        <label class="">Employment Type</label>
          <input
        type="text"
        name="employmentType"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.employmentType"
        class="border-2 px-3 mx- 10 py-1 md:w-[17rem]"
        >
        </div>

        <div>
        <label class="mx- 10">Hired Date</label>
           <input
        type="text"
        name="hiredDate"
        [disabled]="!isEditOpen"
        [value]="selectedEmployee.hireDate | date:'MM/dd/yyyy'"
        class="border-2 px-3 mx- 10 py-1 md:w-[17rem]"
        >
        </div>

        <div>
        <label class="mx- 10">Work Location</label>
        <input
        type="text"
        name="dender"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.workLocation"
        class="border-2 px-3 mx- 10 py-1 md:w-[17rem]"
        >
        </div>

        <div class="flex flex-col">
        <label class="mx- 10">Staff Id</label>
        <input
        type="text"
        name="dob"
        [disabled]="!isEditOpen"
         [value]="selectedEmployee.staffId"
        class="border-2 px-3 mx- 10 py-1 md:w-[17rem]"
        >
        </div>

    </form>
    </div>


    Family details Step 3
  <div *ngIf="currentStep === 3" class="px-4 mb-10 md:px- 10">

  Header
   <div class="flex justify-between">
     <div class="">
         <p class="">Family Details</p>
         <p class="text-[10px]">Information for family-related benefit and records,</p>   
     </div> 

     Add more button
     <div class="relative md:left-[6rem] lg:left-0">
      <button (click)="addMore()" 
      class="bg-blue-600 border text-white md:px-3 md:py-1 rounded-[6px] hover:bg-blue-400">
        Add more
      </button>
     </div>
     </div>   

  Form
  <form #form="ngForm" class="grid gap-y-10 mt-10 ">

    Spouse Details
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-x-[12rem] lg:gap-[1rem] gap-6">

      <div class="flex flex-col">
        <label class="md:w-[7rem]">Spouse's Name</label>
        <input
          type="text"
          name="spouseName"
          [disabled]="!isEditOpen"
          [(ngModel)]="selectedEmployee.spouseName"
          class="border-2 px-3 py-1 w-full md:w-[17rem]"
        />

        <div class="mt-6">
          <p class="font-bold">Children Information</p>
          <p class="text-sm md:md:w-[55rem] max-w-xl">
            Based on the total number of children entered above,
            the same number of fields will appear below to enter
            each child's full details.
          </p>
        </div>
      </div>

      <div class="flex flex-col">
        <label class="md:w-[12rem]">Spouse's Phone Number</label>
        <input
          type="text"
          name="spousePhone"
          [disabled]="!isEditOpen"
          [(ngModel)]="selectedEmployee.spousePhone"
          class="border-2 px-3 py-1 w-full md:w-[17rem]"
        />
      </div>

      <div class="flex flex-col">
        <label>Spouse's Email</label>
        <input
          type="text"
          name="spouseEmail"
          [disabled]="!isEditOpen"
          [value]="selectedEmployee.spouseEmail"
          class="border-2 px-3 py-1 w-full md:w-[17rem]"
        />
      </div>

    </div>

    Number of Children
    <div class="flex flex-col md:w-[17rem]">
      <label>Number of Children</label>
      <input
        type="text"
        name="numberOfChildren"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.numberOfChildren"
        class="border-2 px-3 py-1 w-full"
      />
    </div>

    Child Details
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-x-[12rem] gap-6">

      <div class="flex flex-col">
        <label>Child</label>
        <input
          type="text"
          name="childFullName"
          [disabled]="!isEditOpen"
          [(ngModel)]="selectedEmployee.staffId"
          class="border-2 px-3 py-1 w-full md:w-[17rem]"
        />
      </div>

      <div class="flex flex-col">
        <label>Age</label>
        <input
          type="text"
          name="childAge"
          [disabled]="!isEditOpen"
          [(ngModel)]="selectedEmployee.age"
          class="border-2 px-3 py-1 w-full md:w-[17rem]"
        />
      </div>
    </div>

    <div *ngFor="let child of selectedEmployee.children; let i = index " 
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

      <div class="flex flex-col">
        <label>Child</label>
        <input
          type="text"
          [name]="'childFullName' + i"
          [disabled]="!isEditOpen"
          [(ngModel)]="child.firstName"
          class="border-2 px-3 py-1 w-full md:w-[17rem]"
        />
      </div>

      <div class="flex flex-col">
        <label>Age</label>
        <input
          type="text"
          [name]="'dob' + i"
          [disabled]="!isEditOpen"
          [(ngModel)]="child.dod"
          class="border-2 px-3 py-1 w-full md:w-[17rem]"
        />
        
       Remove Button
    <div class="flex items-end">
      <button
        type="button"
        (click)="removeChild(i)"
        class="border border-red-500 bg-red-100 text-red-600 text-sm rounded-[4px] hover:text-red-800 mr-[20rem] mt-3 w-20"
      >
        Remove
      </button>
    </div>
      </div>
    </div>

  </form>
</div>


   Next of kins Step 4     
  <div *ngIf="currentStep === 4">
      <div class="mx-10">
         <p class="">Next of Kin</p>
         <p class="text-[10px]">Contact in case of emergency</p>   
     </div> 

     <form #form="ngForm" class="mt-10">
        <div class="grid grid-cols-3 gap-6">
        <div>
        <label class="mx-10">Full Name</label>    
        <input
        type="text"
        [disabled]="!isEditOpen"
        name="firstName"
        [(ngModel)]="selectedEmployee.firstName"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >
        </div>

        <div>
        <label class="mx-10">Relationship</label>    
        <input
        type="text"
        name="lastName"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.lastName"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >
        </div>

        <div>
        <label class="mx-10">Phone Number</label>    
        <input
        type="text"
        name="otherName"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.otherName"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >
        </div>
       

        <div>
        <label class="mx-10">Email Address</label>    
         <input
        type="text"
        name="dender"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.gender"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >
        </div>

        <div>
        <label class="mx-10">Enter Current Address</label>
        <input
        type="text"
        name="dob"
        [disabled]="!isEditOpen"
         [value]="selectedEmployee.dateOfBirth | date:'MM/dd/yyyy'"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >
        </div>
        </div>

    </form>
  </div>


   Emengency contact Step 5
  <div *ngIf="currentStep === 5">
    <div class="mx-10">
         <p class="">Emergency Contact</p>
         <p class="text-[10px]">Contact in case of emergency</p>   
     </div> 
     form
     <form #form="ngForm" class="mt-10">
        <div class="grid grid-cols-3 gap-6">
        <div>
        <label class="mx-10">Full Name</label>    
        <input
        type="text"
        [disabled]="!isEditOpen"
        name="firstName"
        [(ngModel)]="selectedEmployee.firstName"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >
        </div>

        <div>
        <label class="mx-10">Relationship</label>    
        <input
        type="text"
        name="lastName"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.lastName"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >
        </div>

        <div>
        <label class="mx-10">Phone Number</label>    
        <input
        type="text"
        name="otherName"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.otherName"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >
        </div>
        

        <div>
        <label class="mx-10">Email Address</label>    
         <input
        type="text"
        name="dender"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.gender"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >
        </div>

        <div>
        <label class="mx-10">Enter Current Address</label>
        <input
        type="text"
        name="dob"
        [disabled]="!isEditOpen"
         [value]="selectedEmployee.dateOfBirth | date:'MM/dd/yyyy'"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >
        </div>
        </div>

    </form>
  </div>


   Education details Step 6
  <div *ngIf="currentStep === 6">
     <div class="mx-10">
         <p class="">Education Background</p>
         <p class="text-[10px]">Academic and professional qualifications.</p>   
     </div>

     <form #form="ngForm" class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-10">
        <input
        type="text"
        name="firstName"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.firstName"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >

          <input
        type="text"
        name="lastName"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.lastName"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >

           <input
        type="text"
        name="otherName"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.otherName"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >

        <input
        type="text"
        name="dender"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.gender"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >

        <input
        type="text"
        name="dob"
        [disabled]="!isEditOpen"
         [value]="selectedEmployee.dateOfBirth | date:'MM/dd/yyyy'"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >


            <input
        type="text"
        name="otherName"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.nationality"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >

             <input
        type="text"
        name="maritalStatus"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.maritalStatus"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >

        <input
        type="text"
        name="phoneNumber"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.phoneNumber"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >

        <input
        type="text"
        name="email"
        [(ngModel)]="selectedEmployee.email"
        class="border-2 mt- 20 mx-10 py-1 md:w-[17rem]"
        >
    </form>
  </div>

    </div>
</div> 
</div>

</div> -->