
    <div class="container overflow- auto">

  <div class="flex justify-between mx-2 md:mx-5 lg:mx-10 mt-10">

  <!-- Go Back -->
  <button (click)="goBack()"
   class="text-[40px] md:text-sm bg-gray-100 py-1 px-4 rounded-[6px]">
    Go Back
  </button>
  

  <!-- Edit button -->
   <button
    type="button"
    *ngIf="!isEditOpen"
    (click)="onEditToggle()"
    class="flex justify-center border border-[#727A90] text-[40px] md:text-[14px] text-[#727A90] px-3 py-1 rounded-[8px] hover:bg-gray-400 hover:text-white transition"
  >
     <span class="material-symbols-outlined text-[50px] md:text-[20px]">edit</span>Edit
  </button> 

  <!-- Step controls -->
  <div *ngIf="isEditOpen" class="flex gap-2">
    <button (click)="save(form)"
      type="button"
      
      class="bg-green-600 text-[40px] md:text-sm text-white px-3 py-1 rounded-[8px] hover:bg-green-700 transition"
    >
      Save
    </button>
  
     <button (click)="onCancel()"
      type="button"
      
      class=" bg-gray-400 text-[40px] md:text-sm text-white px-4  md:px-3 py-1 rounded-[8px] hover:bg-gray-500 transition"
    >
      Cancel
    </button> 

  </div>
  </div>

 


<!-- Links and forms container -->
<div class="mainContainer lg:flex mt-10 md:mx-5 lg:mx-10 cursor-pointer">

    <div class="hidden lg:block">
    <div class="flex flex-col h-full mt-6 w-[11rem] space-y-4">
        <a (click)="setStep(1)">Personal Information</a>
        <a (click)="setStep(2)">Employement Details</a>
        <a (click)="setStep(3)">Farmily Details</a>
        <a (click)="setStep(4)">Next Of Kins</a>
        <a (click)="setStep(5)">Emergency Contact</a>
        <a (click)="setStep(6)">Education Details</a>
    </div>
    </div>


    <div class="mx-2">
    <div class="lg:hidden block text-[40px]">
        <button (click)="openMobileMenu()" class="bg-blue-600 text-white px-4 py-1">Menu</button>
    </div>

    <div *ngIf="isMobileOpen" class="text-[45px] text-center lg:hidden block fixed z-10 bg-opacity-70 bg-black text-white">
        <div class="flex flex-col h-full mt-6 w-[30rem] space-y-4 mb-4">
        <a (click)="setStep(1); closeMobileMenu()">Personal Information</a>
        <a (click)="setStep(2); closeMobileMenu()">Employement Details</a>
        <a (click)="setStep(3); closeMobileMenu()">Farmily Details</a>
        <a (click)="setStep(4); closeMobileMenu()">Next Of Kins</a>
        <a (click)="setStep(5); closeMobileMenu()">Emergency Contact</a>
        <a (click)="setStep(6); closeMobileMenu()">Education Details</a>
    </div>
    </div>
    </div>


    <!-- Forms -->
    <form #form="ngForm" class="container ">

        <!-- Step 1 -->
     <div *ngIf="currentStep === 1" class="">
     
              <!-- QRcode image -->
       <div class="flex justify-end">
          <img src="/QRCode.png" class="w-[83px] h-[86px]"> 
       </div>


  
    <div class="mt- md:mt-[-6.5rem] relative">
    
      <div class="flex">
      <!-- Image Preview -->
     <div class="lg:col-span-2 flex flex-col items-cente mt-10">
      <div class="relative w-[90px] [167px] h-[90px] [167px] mb-2">
         
        <div class="-32 h-24 rounded-full overflow-hidden bg-gray-200 flex items-center justify-center mt-[-25px]">
          <img
            *ngIf="selectedEmployee"
            [src]="isValidUrl(selectedEmployee.profilePicture) ? selectedEmployee.profilePicture : '/Preview.png'"
            alt="Profile Picture"
            class="w-[120px] h-[120px] rounded-full object-cover border"
          />

          <div #savedImage>
            <img
              *ngIf="selectedEmployee?.profilePicture"
              [src]="getSafeProfilePicture(selectedEmployee.profilePicture)"
              alt="Saved Image"
              class="h-full w-auto object-cover "
            />
          </div>
        </div>
        </div>
        </div>
  
      <div class="mt-6 mx-5 space-y-2">
        <p class="font-semibold text-[#686868] font-outfit text-14px">
          {{selectedEmployee?.firstName}} {{selectedEmployee?.lastName}}
        </p>
        <p class="bg-[#00765E17] text-[#00765E] font-bold text-[8.92px]">
          {{selectedEmployee?.supervisor?.jobTitle}}
        </p>
        <p class="flex justify-center items-center bg-[#15C12924] text-[#26AB5B] text-[6.87px] rounded-[4.23px] w-[37.69px] h-[15.46px] border-2 border-[#26AB5B5C]">
          {{selectedEmployee?.employmentStatus}}
        </p>
      </div>
    </div>
</div>

   <!-- form -->
    <div class="mt-10 grid md:grid-cols-2 lg:grid-cols-3 lg:gap-x-5 gap-y-6 text-[50px] md:text-[16px]">
        <div class="flex flex-col">
        <label class="">First Name</label>
        <input
        type="text"
        name="firstName"
        [disabled]="!isEditOpen"
        [(ngModel)]="selectedEmployee.firstName"
        (keypress)="allowOnlyLetters($event)"
        class="border-2 px-5 md:px-2 md:py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="">Last Name</label>
        <input
        type="text"
        name="lastName"
        [(ngModel)]="selectedEmployee.lastName"
        [disabled]="!isEditOpen"
        (keypress)="allowOnlyLetters($event)"
        class="border-2 px-5 md:px-2 md:py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="">Other Name</label>
        <input
        type="text"
        name="otherName"
        [(ngModel)]="selectedEmployee.otherName"
        [disabled]="!isEditOpen"
        (keypress)="allowOnlyLetters($event)"
        class="border-2 px-5 md:px-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="">Date of Birth</label>
        <input
        type="date"
        name="dateOfBirth"
        [(ngModel)]="formattedDOB"
        [disabled]="!isEditOpen"
        class="border-2 px-5 md:px-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="">Gender</label>
        <select
        name="gender"
        [(ngModel)]="selectedEmployee.gender"
        [disabled]="!isEditOpen"
        class="text-[40px] md:text-[16px] border-2 px-5 md:px-2 py-4 md:py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500" 
        >
        <option value="">Select gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
        </select>
        </div>

        <div class="flex flex-col">
        <label class="">Nationality</label>
        <input
        type="text"
        name="nationality"
        [(ngModel)]="selectedEmployee.nationality"
        [disabled]="!isEditOpen"
        (keypress)="allowOnlyLetters($event)"
        class="border-2 px-5 md:px-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="">Marital Status</label>
        <select
        name="maritalStatus"
        [(ngModel)]="selectedEmployee.maritalStatus"
        [disabled]="!isEditOpen"
        class="text-[40px] md:text-[16px] border-2 px-5 py-4 md:px-2 md:py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500" 
        >
         <option value="">Select marital status</option>
         <option value="Single">Single</option>
         <option value="Married">Married</option>
         <option value="Divorced">Divorced</option>
        </select>
        </div>

        <div class="flex flex-col">
        <label class="">Phone Number</label>
        <input
        type="text"
        name="phoneNumber"
        [(ngModel)]="selectedEmployee.phoneNumber"
        [disabled]="!isEditOpen"
        (keypress)="allowNumbersOnly($event)"
        class="border-2 py-1 md:w-[17rem] px-5 md:px-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="">Enter Email Address</label>
        <input
        type="text"
        name="email"
        [(ngModel)]="selectedEmployee.email"
        [disabled]="!isEditOpen"
        class="border-2 px-5 md:px-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="">ID Type</label>
        <input
        type="text"
        name="idType"
        [(ngModel)]="selectedEmployee.idType"
        [disabled]="!isEditOpen"
        (keypress)="allowOnlyLetters($event)"
        class="border-2 px-5 md:px-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col mb-20 md:mb-10">
        <label class="">ID Number</label>
        <input
        type="text"
        name="idNumber"
        [(ngModel)]="selectedEmployee.idNumber"
        [disabled]="!isEditOpen"
        class="border-2 px-5 md:px-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

     <!-- <div class="flex flex-col mb-4">
      <label>QR ID</label>
     <input 
     type="text" 
     [value]="employeeData.qrId" 
     readonly 
     class="border-2 px-3 py-1 w-full md:w-[17rem]"
  />
</div> -->

    </div>
    </div>


    <!-- Employement details Step 2 -->
    <div class="mx-10 mt-6">
     <div *ngIf="currentStep === 2">
    <!-- Details -->
     <div class="">
         <p class="text-[45px] md:text-[16px]">Employment Details</p>
         <p class="md:text-[10px] text-[30px]">Official job Information</p>   
     </div>

        <!-- form -->
    <div class="mb-10 grid md:grid-cols-2 lg:grid-cols-3 md:gap-x-[5rem] lg:gap-x-[5px] gap-y-6 mt-10 text-[50px] md:text-[16px]">
        <div class="flex flex-col">
        <label class="mx- 10">Job Title</label>
        <input
        type="text"
        name="jobTitle"
        [(ngModel)]="selectedEmployee.jobTitle"
        [disabled]="!isEditOpen"
        (keypress)="allowOnlyLetters($event)"
        class="border-2 px-3 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col md:w-[9rem]">
        <label class="w">Employment Type</label>
          <input
        type="text"
        name="employmentType"
        [(ngModel)]="selectedEmployee.employmentType"
        [disabled]="!isEditOpen"
        (keypress)="allowOnlyLetters($event)"
        class="border-2 px-3 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="">Hired Date</label>
           <input
        type="date"
        name="hireDate"
        [(ngModel)]="selectedEmployee.hireDate"
        class="border-2 px-3 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="">Work Location</label>
        <input
        type="text"
        name="workLocation"
        [(ngModel)]="selectedEmployee.workLocation"
        [disabled]="!isEditOpen"
        (keypress)="allowOnlyLetters($event)"
        class="border-2 px-3 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="">Staff Id</label>
        <input
        type="text"
        name="staffId"
        [(ngModel)]="selectedEmployee.staffId"
        [disabled]="!isEditOpen"
        class="border-2 px-3 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

         <!-- ROLE -->
        <div class="flex flex-col">
           <label class="text- [35px] md:text- [16px]">Role</label>
          <select 
          [(ngModel)]="selectedEmployee.role" name="role" 
          [disabled]="!isEditOpen"
           class="border-2 py-4 px-4 text-[35px] md:text-[16px] md:py-1 md:w-[17rem]"
          required>
            <option value="">Select Role</option>
            <option value="6811fecd820e0f28b3ac8365">Engineer</option>
            <option value="683715d0a625599a499493ba">CTO</option>
          </select>
        </div>

    </div>
    </div>


    <!-- Family details Step 3 -->
  <div *ngIf="currentStep === 3" class="px-4 mb-10 md:px- 10">

  <!-- Header -->
   <div class="flex justify-between">
     <div class="mt-32 md:mt-0">
         <p class="text-[45px] md:text-[16px]">Family Details</p>
         <p class="md:text-[10px] text-[30px]">Information for family-related benefit and records,</p>   
     </div> 

     <!-- Add more button -->
    <div class="relative md:top-0 md:left-[7rem] lg:left-0 w-[8rem] mx-5 lg:mx-0">
      <button (click)="addMore()" 
      class="flex bg-blue-600 border text-[40px] md:text-sm text-white px-2 py-1 md:px-3 md:py-1 rounded-[6px] hover:bg-blue-400 whitespace-nowrap">
        Add more
      </button>
     </div>
     </div>   

  <!-- Form -->
  <div class="grid gap-y-6 mt-10 ">

    <!-- Spouse Details -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:gap-[5rem] gap-6">

      <div class="flex flex-col">
        <label class="md:w-[7rem] text-[40px] md:text-[16px]">Spouse's Name</label>
        <input
          type="text"
          name="spouseName"
          [(ngModel)]="selectedEmployee.spouseName"
          [disabled]="!isEditOpen"
          (keypress)="allowOnlyLetters($event)"
          class="text-[40px] md:text-[16px] py-5 px-5 md:px-3 md:py-1 border-2 w-full md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        />

        <div class="mt-6">
          <p class="font-bold text-[40px] md:text-[16px] ">Children Information</p>
          <p class="text-[30px] md:text-sm md:md:w-[55rem] max-w-xl">
            Based on the total number of children entered above,
            the same number of fields will appear below to enter
            each child's full details.
          </p>
        </div>
      </div>

      <div class="flex flex-col">
        <label class="md:w-[12rem] text-[40px] md:text-[16px]">Spouse's Phone Number</label>
        <input
          type="text"
          name="spousePhone"
          [(ngModel)]="selectedEmployee.spousePhone"
          [disabled]="!isEditOpen"
          (keypress)="allowNumbersOnly($event)"
          class="text-[40px] md:text-[16px] border-2 py-5 px-5 md:px-3 md:py-1 w-full md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div class="flex flex-col">
        <label class="text-[40px] md:text-[16px]">Spouse's Email</label>
        <input
          type="text"
          name="spouseEmail"
          [(ngModel)]="selectedEmployee.spouseEmail"
          [disabled]="!isEditOpen"
          class="text-[40px] md:text-[16px] border-2 py-5 px-5 md:px-3 md:py-1 w-full md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

    </div>

    <!-- Number of Children -->
    <div class="flex flex-col md:w-[17rem]">
      <label class="text-[40px] md:text-[16px]">Number of Children</label>
      <input
        type="text"
        name="numberOfChildren"
        [(ngModel)]="selectedEmployee.numberOfChildren"
        [disabled]="!isEditOpen"
        (keypress)="allowNumbersOnly($event)"
        class="text-[40px] md:text-[16px] border-2 py-5 px-5 md:px-3 md:py-1 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

      
  <div *ngFor="let child of selectedEmployee.children; let i = index" 
     class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-10">

  <!-- Child Name -->
  <div class="flex flex-col relative">
    <label class="text-[40px] md:text-[16px]">Child</label>
    <input
      type="text"
      [name]="'fullName' + i"
      [(ngModel)]="child.fullName"
      [disabled]="!isEditOpen"
      (keypress)="allowOnlyLetters($event)"
      class="text-[40px] md:text-[16px] border-2 py-5 px-5 md:px-3 md:py-1 w-full md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
    />

    <!-- Remove Button: only for children after first -->
    <button
      *ngIf="i >= 1"
      type="button"
      (click)="removeChild(i)"
      class="text-[40px] md:text-[16px] border border-red-500 bg-red-100 text-red-600 text-sm rounded-[4px] hover:text-red-800 mt-2 w-24"
    >
      Remove
    </button>
  </div>

  <!-- Child DOB -->
  <div class="flex flex-col">
    <label class="text-[40px] md:text-[16px]">Age</label>
    <input
      type="date"
      [name]="'dob' + i"
      [(ngModel)]="child.dob"
      class="text-[40px] md:text-[16px] border-2 py-5 px-5 md:px-3 md:py-1 w-full md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>
</div>
</div>
</div>


   <!-- Next of kins Step 4 -->     
  <div *ngIf="currentStep === 4">
      <div class="lg:mx-10">
         <p class="text-[45px] md:text-[16px]">Next of Kin</p>
         <p class="md:text-[10px] text-[30px]">Contact in case of emergency</p>   
     </div> 

     <div class="mt-10 lg:mx-10">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 text-[50px] md:text-[16px]">
        <div class="flex flex-col">
        <label class="flex flex-col">Full Name</label>    
        <input
        type="text"
        name="nextOfKinFullName"
        [(ngModel)]="selectedEmployee.nextOfKinFullName"
        [disabled]="!isEditOpen"
        (keypress)="allowOnlyLetters($event)"
        class="border-2 py-1 w- md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="flex flex-col">Relationship</label>    
        <input
        type="text"
        name="nextOfKinRelationship"
        [(ngModel)]="selectedEmployee.nextOfKinRelationship"
        [disabled]="!isEditOpen"
        (keypress)="allowOnlyLetters($event)"
        class="border-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="flex flex-col">Phone Number</label>    
        <input
        type="text"
        name="nextOfKinPhoneNumber"
        [(ngModel)]="selectedEmployee.nextOfKinPhoneNumber"
        [disabled]="!isEditOpen"
        (keypress)="allowNumbersOnly($event)"
        class="border-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>
        <!-- </div> -->

        <div class="flex flex-col">
        <label class="flex flex-col">Email Address</label>    
         <input
        type="text"
        name="nextOfKinEmail"
        [(ngModel)]="selectedEmployee.nextOfKinEmail"
        [disabled]="!isEditOpen"
        class="border-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="flex flex-col">Enter Current Address</label>
        <input
        type="text"
        name="nextOfKinCurrentAddress"
        [(ngModel)]="selectedEmployee.nextOfKinCurrentAddress"
        [disabled]="!isEditOpen"
        class="border-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>
        </div>

    </div>
  </div>


   <!-- Emengency contact Step 5 -->
  <div *ngIf="currentStep === 5">
    <div class="mx-10">
         <p class="text-[45px] md:text-[16px]">Emergency Contact</p>
         <p class="md:text-[10px] text-[30px]">Contact in case of emergency</p>   
     </div> 
     <!-- form -->
     <div class="mt-10">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 text-[50px] md:text-[16px]">
        <div class="flex flex-col">
        <label class="">Full Name</label>    
        <input
        type="text"
        name="emergencyContactFullName"
        [(ngModel)]="selectedEmployee.emergencyContactFullName"
        [disabled]="!isEditOpen"
        (keypress)="allowOnlyLetters($event)"
        class="border-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="">Relationship</label>    
        <input
        type="text"
        name="emergencyContactRelationship"
        [(ngModel)]="selectedEmployee.emergencyContactRelationship"
        [disabled]="!isEditOpen"
        (keypress)="allowOnlyLetters($event)"
        class="border-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="">Phone Number</label>    
        <input
        type="text"
        name="emergencyContactPhoneNumber"
        [(ngModel)]="selectedEmployee.emergencyContactPhoneNumber"
        [disabled]="!isEditOpen"
        (keypress)="allowNumbersOnly($event)"
        class="border-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>
        <!-- </div> -->

        <div class="flex flex-col">
        <label class="">Email Address</label>    
         <input
        type="text"
        name="emergencyContactEmail"
        [(ngModel)]="selectedEmployee.emergencyContactEmail"
        [disabled]="!isEditOpen"
        class="border-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="">Enter Current Address</label>
        <input
        type="text"
        name="emergencyContactCurrentAddress"
        [(ngModel)]="selectedEmployee.emergencyContactCurrentAddress"
        [disabled]="!isEditOpen"
        class="border-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>
        </div>

    </div>
  </div>


   <!-- Education details Step 6 -->
   <div *ngIf="currentStep === 6" class="text-[50px] md:text-[16px]">
     <div class="">
         <p class="text-[45px] md:text-[16px]">Education Background</p>
         <p class="md:text-[10px] text-[30px]">Academic and professional qualifications.</p>   
     </div>

     <div *ngFor="let edu of selectedEmployee?.supervisor.educationDetails; let i = index" class="mt-10 mb-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-10">

        <div class="flex flex-col">
        <label class="">Institution Name</label>
        <input
        type="text"
        [name]="'institutionName' + i"
        [(ngModel)]="edu.institutionName"
        [disabled]="!isEditOpen"
        (keypress)="allowOnlyLetters($event)"
        class="border-2 px-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500 "
        >
        </div>

        <div class="flex flex-col">
        <label class="">Course of Study</label>
          <input
        type="text"
        [name]="'courseOfStudy' + i"
        [(ngModel)]="edu.courseOfStudy"
        [disabled]="!isEditOpen"
        (keypress)="allowOnlyLetters($event)"
        class="border-2 px-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="">Start Date</label>
           <input
        type="date"
        [name]="'startDate' + i"
        [(ngModel)]="edu.startDate"
        [disabled]="!isEditOpen"
        class="border-2 px-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

        <div class="flex flex-col">
        <label class="">End Date</label>
        <input
        type="date"
        [name]="'endDate' + i"
        [(ngModel)]="edu.endDate"
        [disabled]="!isEditOpen"
        class="border-2 px-2 py-1 md:w-[17rem] focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        </div>

     </div> 
  </div> 

  
</div>
</form> 