

<!-- <div class="mt-[5rem] bg-white mx-6 h-full rounded-t-[30px] "> -->
 <div class="mx-4 md:mx-10 mt-10  md:mt-20 overflow-auto">

     <!-- Page loader -->
    <!-- <div *ngIf="isLoading" class="flex gap-4 justify-center relative top-[5rem] ">
      <span class="loader"></span>
   </div> -->
              
                  <!-- import and add staff -->
    <div class="md:flex justify-between ">
        <div class="">
           <span class="text-[24px text-[#525252] font-bold">Welcome, Bright</span> 
            <p class="text-[#919191] text-[14px]">Here's a summary of your transaction</p>
        </div>

         <div class="space-x-6 flex ">
            <div class="">
            <button class="flex justify-center items-center gap-1 border-2 text-[14px] bg-[#13389B2B] text-[#4393FF] w-[96px] h-[40px] rounded-lg">
                <img src="/pluslogo.png" class="w-[18px] h-[16px] ">
                Import
            </button>
            </div>
            <div class="">
            <button class="flex gap-1 justify-center items-center bg-[#4393FF] text-white text-[14px] w-[113px] h-[40px] rounded-lg ">
                <span class="">+</span>
                Add Staff
            </button>
            </div>
        </div>
    </div>
   

                                   <!-- Cards -->
    <div class="grid grid-cols-2 lg:grid-cols-4 md:grid-cols-4 gap-4 md:gap-2 lg:gap-0 mt-10">
        <div class="my-4 border-[#E9EAEA] border-[1.15px] lg:w-[15rem] lg:h-[8rem] rounded-[30px]">
             <div class="mx-4 my-4">
            <div class="flex gap-2   ">
            <img src="Vector2.png" class="md:w-[16.25px] md:h-[23.02px]"><span class="text-[35px] md:text-[17px] font-semibold font-outfit">Staff</span>
            </div>
            
            <div class=""> 
               <p class="font-bold md:text-[25.57px] text-[35.57px] mt-2">434</p> 
            <p class="flex gap-2"><img src="/Percentage.png" class="md:w-[49.38px] md:h-[23px] mt-2"><span class="mt-1 text-[30px] md:text-[16.09px]">Today</span></p>
            </div>
        </div>
        </div>



          <div class="my-4 border-[#E9EAEA] border-[1.15px] lg:w-[15rem] lg:h-[8rem] rounded-[30px]">
             <div class="mx-4 my-4">
            <div class="flex gap-2">
            <img src="clock.png" class="w-[20px] h-[20px]"><span class="whitespace-nowrap text-[35px] md:text-[17px] font-semibold">Staff On Duty</span>
            </div>

            <div class=""> 
               <p class="font-bold md:text-[25.57px] text-[35.57px] mt-2">434</p> 
           <p class="flex gap-2"><img src="/Percentage.png" class="md:w-[49.38px] md:h-[23px] mt-2"><span class="mt-1 text-[30px] md:text-[16.09px]">Today</span></p>
            </div>
            </div>
        </div>

         <div class="my-4   border-[#E9EAEA] border-[1.15px] lg:w-[15rem] lg:h-[8rem] rounded-[30px]">
            <div class="mx-4 my-4">
            <div class="flex gap-2">
            <img src="clock.png" class="md:w-[20px] md:h-[20px]"><span class="whitespace-nowrap text-[35px] md:text-[17px] font-semibold">Staff On Leave</span>
            </div>

            <div class=""> 
               <p class="font-bold md:text-[25.57px] text-[35.57px] mt-2">434</p> 
           <p class="flex gap-2"><img src="/Percentage.png" class="md:w-[49.38px] md:h-[23px] mt-2"><span class="mt-1 text-[30px] md:text-[16.09px]">Today</span></p>
            </div>
            </div>
            </div>

             <div class="my-4 border-[#E9EAEA] border-[1.15px] lg:w-[15rem] lg:h-[8rem] rounded-[30px]">
               <div class="mx-4">
               <div class="flex gap-2 my-4 ">
               <img src="FrameR.png" class="md:w-[32px] md:h-[32.02px]"><span class="text-[35px] md:text-[17px]  font-semibold">Unit</span>
            </div>

            <div class=""> 
               <p class="font-bold md:text-[25.57px] text-[35.57px] mt-[-12px]">434</p> 
           <p class="flex gap-2"><img src="/Percentage.png" class="md:w-[49.38px] md:h-[23px] mt-2"><span class="mt-1 text-[30px] md:text-[16.09px]">Today</span></p>
            </div>
            </div>
            </div>

    </div>


<div class="w-full mt-10 ">
  <canvas id="toolboxChart"></canvas>
</div>

<!-- </div> -->




    
</div>
<!-- </div> -->

